@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-size: 14px;

	color: #4c5258;

	letter-spacing: 0.5px;

	background-color: #f4f4f4;

	font-family: 'Roboto', sans-serif;

}
a {

	text-decoration: none;

}
.wrapper {

	width: 100%;

	position: relative;

}
.page-wrapper {


	height: 100%;


	margin-top: 150px;


	margin-bottom: 30px;


	margin-left: 0px;


}

/* Authentication */


.section-authentication-signin {


	height: 100vh;


}


.authentication-forgot {


	height: 100vh;


	padding: 0 1rem;


}


.authentication-reset-password {


	height: 100vh;


	padding: 0 1rem;


}


.authentication-lock-screen {


	height: 100vh;


	padding: 0 1rem;


}


.error-404 {


	height: 100vh;


	padding: 0 1rem;


}


.error-social a {


	display: inline-block;


	width: 40px;


	height: 40px;


	line-height: 40px;


	font-size: 18px;


	color: #fff;


	text-align: center;


	border-radius: 50%;


	margin: 5px;


	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;


}


.bg-login {


	background-image: linear-gradient(45deg,
              rgba(25, 40, 0, .9),
              rgba(102, 118, 24, 1)), url('../images/login-images/bg-login-img.jpg');
	background-blend-mode: multiply;

	background-size: cover;


	background-position: center;


	background-repeat: no-repeat;


	background-attachment: fixed;


}


.bg-forgot {


	background-image: url(../images/login-images/bg-forgot-password.jpg);


	background-size: cover;


	background-position: center;


	background-repeat: no-repeat;


	background-attachment: fixed;


}


.bg-lock-screen {


	background-image: url(../images/login-images/bg-lock-screen.jpg);


	background-size: cover;


	background-position: center;


	background-repeat: no-repeat;


	background-attachment: fixed;


}


.login-separater span {


	position: relative;


	top: 26px;


	margin-top: -10px;


	background: #ffffff;


	padding: 5px;


	font-size: 12px;


	color: #cbcbcb;


	z-index: 1;


}


/* Topbar(Header blade)*/

.topbar{

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background: #192800;
	color: #ffff;
	border-bottom: 1px solid #f0f0f0;
	z-index: 10;

}

.topbar .navbar{

	width: 100%;

	height: 60px;

	padding-left: 30px;

	padding-right: 30px;

}

.topbar-logo-header{
	width: auto;
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
    height: 60px;
    border-right: 1px solid #f0f0f0;
}

.topbar .navbar .navbar-nav .nav-link{

	padding-right: 0.8rem;

	padding-left: 0.8rem;

	color: #ffffff;

	font-size: 22px;

}


.logo-icon{
	width: 150px;
	height: 57px;
}

.user-img{
    width: 25px;
    height: 25px;
}
.dropdown-toggle-nocaret:after {


	display: none


}

.alert-count {


	position: absolute;


	top: 5px;


	left: 22px;


	width: 18px;


	height: 18px;


	display: flex;


	align-items: center;


	justify-content: center;


	border-radius: 50%;


	font-size: 12px;


	font-weight: 500;


	color: #fff;


	background: #f62718;


}


.user-img {


	width: 42px;


	height: 42px;


	border-radius: 50%;


	border: 0px solid #e5e5e5;


	padding: 0px;


}


.user-info .user-name {


	font-size: 15px;


	font-weight: 500;


	color: #ffff;


}


.user-info .designattion {


	font-size: 13px;


	color: #a9a8a8;


}


.user-box {


	display: flex;


	align-items: center;


	height: 60px;


	border-left: 1px solid #f0f0f0;


	margin-left: 1rem;


}


.dropdown-large {


	position: relative;


}


.dropdown-large .dropdown-menu {


	width: 360px;


	border: 0;


	padding: 0rem 0;


	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
	
	border-radius: 10px;


}


.topbar .navbar .dropdown-large .dropdown-menu::after {


	content: '';


	width: 13px;


	height: 13px;


	background: #ffffff;


	position: absolute;


	top: -6px;


	right: 16px;


	transform: rotate(45deg);


	border-top: 1px solid #ddd;


	border-left: 1px solid #ddd;


}


.topbar .navbar .dropdown-menu::after {


	content: '';


	width: 13px;


	height: 13px;


	background: #ffff;


	position: absolute;


	top: -6px;


	right: 16px;


	transform: rotate(45deg);


	border-top: 1px solid #ddd;


	border-left: 1px solid #ddd;


}


.dropdown-large .msg-header{

	padding: 0.8rem 1rem;

	border-bottom: 1px solid #ededed;

	background-clip: border-box;

	background: #ffffff;

	text-align: left;

	display: flex;

	align-items: center;

	border-top-left-radius: 10px;

	border-top-right-radius: 10px;

}


.dropdown-large .msg-header .msg-header-title{

	font-size: 15px;

	color: #1c1b1b;

	margin-bottom: 0;

	font-weight: 500;

}
.dropdown-large .msg-header .msg-header-clear{

	font-size: 12px;

	color: #585858;

	margin-bottom: 0;

}

.dropdown-large .msg-footer {


	padding: 0.8rem 1rem;


	color: #1c1b1b;


	border-top: 1px solid #ededed;


	background-clip: border-box;


	background: transparent;


	font-size: 14px;


	font-weight: 500;


	border-bottom-left-radius: .25rem;


	border-bottom-right-radius: .25rem;


}


.dropdown-large .user-online {


	position: relative;


}


.dropdown-large .msg-name {


	font-size: 14px;


	margin-bottom: 0;


}


.dropdown-large .msg-info {


	font-size: 13px;


	margin-bottom: 0;


}


.dropdown-large .msg-avatar {


	width: 45px;


	height: 45px;


	border-radius: 50%;


	margin-right: 15px;


}


.dropdown-large .msg-time {


	font-size: 12px;


	margin-bottom: 0;


	color: #919191;


}


.dropdown-large .user-online:after {


	content: '';


	position: absolute;


	bottom: 1px;


	right: 17px;


	width: 8px;


	height: 8px;


	border-radius: 50%;


	box-shadow: 0 0 0 2px #fff;


	background: #16e15e;


}


.dropdown-large .dropdown-menu .dropdown-item {


	padding: .50rem 1.3rem;


	border-bottom: 1px solid #ededed;


}


.header-message-list {


	position: relative;


	height: 360px;


}


.header-notifications-list {


	position: relative;


	height: 360px;


}


.dropdown-large .notify {

	width: 45px;


	height: 45px;


	line-height: 45px;


	font-size: 22px;


	text-align: center;


	border-radius: 50%;


	background-color: #f1f1f1;


	margin-right: 15px;


}

.dropdown-menu {


	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);


	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);


	border: 0px solid #e9ecef;


	font-size: 14px;
	
	border-radius: 10px;


}


.topbar .navbar .dropdown-menu {


	-webkit-animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;


	animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;


}
.app-box {


	width: 45px;


	height: 45px;


	display: flex;


	align-items: center;


	font-size: 26px;


	justify-content: center;


	cursor: pointer;


	border-radius: 10px;


	background-color: #f6f6f6;


}


.app-title {


	font-size: 14px;


}


.user-box .dropdown-menu i {


	vertical-align: middle;


	margin-right: 10px;


}



@-webkit-keyframes animdropdown {


	from {


		-webkit-transform: translate3d(0, 6px, 0);


		transform: translate3d(0, 6px, 0);


		opacity: 0


	}


	to {


		-webkit-transform: translate3d(0, 0, 0);


		transform: translate3d(0, 0, 0);


		opacity: 1


	}


}


@keyframes animdropdown {


	from {


		-webkit-transform: translate3d(0, 6px, 0);


		transform: translate3d(0, 6px, 0);


		opacity: 0


	}


	to {


		-webkit-transform: translate3d(0, 0, 0);


		transform: translate3d(0, 0, 0);


		opacity: 1


	}


}



/*metismenu(navigation.blade)*/
.mobile-topbar-header {

	display: none;
	
}

.nav-container{

	position: fixed;

	top: 60px;

	right: 0;

	left: 0;

	z-index: 9;

	border-bottom: 1px solid #e4e4e4;
	
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;

	background-clip: border-box;

	background: #ffffff;

	width: 100%;

	height: 60px;

	padding: 0px 30px;

	display: flex;

	align-items: center;

	justify-content: center;

}
.topbar-nav{

	background: transparent;

	width: 100%;
}
.topbar-nav ul{

	padding: 0;

	margin: 0;

	list-style: none;

	background: transparent;

}
.topbar-nav .metismenu {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

    -webkit-box-orient: horizontal;

    -webkit-box-direction: normal;

    -ms-flex-direction: row;

    flex-direction: row;


}
.topbar-nav .metismenu > li {
    -webkit-box-flex: 1;

	-ms-flex: 1 1 0%;

	flex: 1 1 0%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;

    position: relative;

}
.topbar-nav .metismenu a {

	position: relative;

	display: flex;

	align-items: center;

	justify-content: left;

	padding: 10px 15px;

	color: #5f5f5f;

	outline-width: 0;

	transition: all .3s ease-out;

}

.topbar-nav .metismenu ul a {

	padding: 8px 15px 8px 15px;

	font-size: 15px;

	border: 0;

}
.topbar-nav .metismenu ul a i {

	margin-right: 10px;

}

.topbar-nav .metismenu a .parent-icon {

	font-size: 24px;

	line-height: 1;

}

.metismenu.closed {
    display:none;
}
.topbar-nav .metismenu > li > ul {

    position: absolute;

    top: 100%;	
    
    min-width: 100%;

    z-index: 1001;

    background: white;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);

}

.topbar-nav.is-hoverable .metismenu > li > ul {

    height: auto !important;

}

.topbar-nav.is-hoverable .metismenu > li:hover > ul {

    display: block;

}

.topbar-nav.is-hoverable .metismenu > li:hover > a.has-arrow:after {

    -webkit-transform: rotate(-135deg);

    transform: rotate(-135deg);

}
.topbar-nav .metismenu a{

	position: relative;

	display: flex;

	align-items: center;

	justify-content: left;

	padding: 10px 15px;

	color: #5f5f5f;

	outline-width: 0;

	transition: all .3s ease-out;

}

.topbar-nav .metismenu ul a i{

	margin-right: 10px;

}
.topbar-nav .metismenu a .parent-icon{

	font-size: 24px;

	line-height: 1;

}
.topbar-nav .metismenu a .menu-title {

	margin-left: 10px;

}

.topbar-nav .metismenu a:hover,

  .topbar-nav .metismenu a:focus,

.topbar-nav .metismenu a:active {

	color: #ffffff;

	text-decoration: none;

	background: #667618;

}
/*page breadcrump*/
.breadcrumb-title {

	font-size: 20px;
	border-right: 1.5px solid #aaa4a4;


}


.page-breadcrumb .breadcrumb li.breadcrumb-item {

	font-size: 16px;
    font-weight: 500;

}


.page-breadcrumb .breadcrumb-item+.breadcrumb-item::before{


	display: inline-block;

	padding-right: .5rem;

	color: #6c757d;

	font-family: 'LineIcons';

	content: "\ea5c";

}


/* Navs and Tabs */


.nav-primary.nav-tabs .nav-link.active {


	color: #667618;


	border-color: #667618 #667618 #fff;


}


.nav-danger.nav-tabs .nav-link.active {


	color: #f41127;


	border-color: #f41127 #f41127 #fff;


}


.nav-success.nav-tabs .nav-link.active {


	color: #17a00e;


	border-color: #17a00e #17a00e #fff;


}


.nav-warning.nav-tabs .nav-link.active {


	color: #ffc107;


	border-color: #ffc107 #ffc107 #fff;


}


.nav-pills-danger.nav-pills .nav-link.active {


	color: #fff;


	background-color: #f41127;


}


.nav-pills-success.nav-pills .nav-link.active {


	color: #fff;


	background-color: #17a00e;


}


.nav-pills-warning.nav-pills .nav-link.active {


	color: #000;


	background-color: #ffc107;


}


.nav-search input.form-control {


	background-color: rgb(255 255 255 / 20%);


	border: 1px solid rgb(255 255 255 / 45%);


	color: #fff;


}


.nav-search button[type='submit'] {


	background-color: rgb(255 255 255 / 20%);


	border: 1px solid rgb(255 255 255 / 32%);


	color: #fff;


}


.nav-search input.form-control::placeholder {


	opacity: 0.5 !important;


	color: #fff !important;


}


.nav-search input.form-control::-ms-input-placeholder {


	color: #fff !important;


}


.round-pagination.pagination .page-item:first-child .page-link {


	border-top-left-radius: 30px;


	border-bottom-left-radius: 30px;


}


.round-pagination.pagination .page-item:last-child .page-link {


	border-top-right-radius: 30px;


	border-bottom-right-radius: 30px;


}

/*footer*/
.back-to-top{
	display: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 26px;
	color: white;
	position: fixed;
	border-radius: 10px;
	bottom: 20px;
	right: 12px;
	background-color: #667618;
	z-index: 5;

}


.back-to-top:hover{

	color: white;
	background-color: #000;
	transition: all .5s;
}
.page-footer {

	background: #192800;
	left: 0px;
	right: 0;
	bottom: 0;
	position: fixed;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	border-top: 1px solid #e4e4e4;
	z-index: 3;

}

/*Buttons*/

.new-appointment {
    background: #667618 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffff;
    font-size: 14px;
    font-weight: 600;
	float: right !important;
    padding: 10px 45px 10px 45px;
	position: inline-block;
	margin-right: 0;
}

.new-visitor {
    background: #667618 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffff;
    font-size: 14px;
    font-weight: 600;
	float: right !important;
    padding: 10px 45px 10px 45px;
	position: inline-block;
	margin-right: 0;
    
}
.header-rightside::before {
	float: inline-end !important;

}
.header-rightside {
	float: right !important;
}
.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.new-visitor::before {
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
    content: "";
    height: 12px;
    left: 17px;
    top: 12px;
    width: 12px;
}

.new-visitor:hover {
    background: #192800;
    color: #ffffff;
}
.new-appointment:hover {
    background: #192800;
    color: #ffffff;
}

/*Table*/

.card-group {


	margin-bottom: 1.5rem;


}


.search-bar-box {


	width: 75%;

	padding-left: 30px;


}
.search-control {


	background-color: #f6f5f5;


	border: 1px solid #f2efef;


	padding-right: 2.5rem


}


.search-show {


	font-size: 18px;


	right: 15px;


}


.search-close {


	font-size: 18px;


	right: 15px;


	cursor: pointer;


	display: none;


}
